body {
  max-width: 768px;
  margin: 0px auto;
  font-family: 'Calluna Sans', sans-serif;
  color: #17181C;
  background-color: #F5F5F5;
  font-variant-numeric: lining-nums
}

h1, 
h2, 
h3, 
ul, 
p,
blockquote > div {
  font-family: 'Calluna', serif;
}

h1, 
h2, 
h3, 
strong {
  font-weight: 600;
}

p, 
ul,
blockquote 
.credit,
h4 {
  font-size: 1.125rem;
  line-height: 1.5;
}

p,
ul,
blockquote {
  max-width: 700px;
}

p,
ul {
  margin: 1.25rem 0;
}

blockquote {
  margin: 3rem auto;
}

blockquote > div {
  font-style: italic;
  font-size: 1.255rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

blockquote > cite {
  display: block;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: right;
  font-style: normal;
}

h1 {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.01em;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  font-size: 1.66rem;
  line-height: 1;
}

h3 {
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  font-size: 1.4rem;
  line-height: 1;
}

h4 {
  margin-top: 0;
  margin-bottom: 1.25rem;
  font-weight: 600;
}

.credits {
  margin-bottom: 3rem;
}

.credits > .credit:first-of-type {
  margin-bottom: 0.25rem;
}

.credit {
  text-align: center;
  color: #5A5D5D;
}

.credit-name {
  color: #121717;
  font-weight: 600;
}

hr {
  border-top: 3px solid #E12350;
  max-width: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  vertical-align: top;
  text-align: left;
  font-weight: 600;
  width: 16px;
}

td {
  font-weight: 500;
  border: 1px solid #CCC;
  width: 21px;
}

th, td {
  padding: 0.25rem;
}




.flex {
  display: flex;
}

.w-half {
  width: 50%;
}

.grid {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.example {
  margin-bottom: 2rem;
}

.sidebar {
  background-color: #EBEBEB;
  padding: 1.5rem;
  margin: 2.5rem 0;
}

.sidebar > h3 {
  margin-top: 0;
  font-family: "Calluna Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-size: 16px;
}